<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>nextplus-blog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <description>MyBlog</description>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/blog</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Blog</display-name>
    <servlet-name>Blog</servlet-name>
    <servlet-class>org.nextplus.blog.Blog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blog</servlet-name>
    <url-pattern>/Blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBlog</display-name>
    <servlet-name>GetBlog</servlet-name>
    <servlet-class>org.nextplus.blog.GetBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBlog</servlet-name>
    <url-pattern>/GetBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBlogList</display-name>
    <servlet-name>GetBlogList</servlet-name>
    <servlet-class>org.nextplus.blog.GetBlogList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBlogList</servlet-name>
    <url-pattern>/GetBlogList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBlogList</display-name>
    <servlet-name>ManageBlogList</servlet-name>
    <servlet-class>org.nextplus.blog.ManageBlogList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBlogList</servlet-name>
    <url-pattern>/ManageBlogList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreEditBlog</display-name>
    <servlet-name>PreEditBlog</servlet-name>
    <servlet-class>org.nextplus.blog.PreEditBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreEditBlog</servlet-name>
    <url-pattern>/PreEditBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostEditBlog</display-name>
    <servlet-name>PostEditBlog</servlet-name>
    <servlet-class>org.nextplus.blog.PostEditBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditBlog</servlet-name>
    <url-pattern>/PostEditBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlog</display-name>
    <servlet-name>DeleteBlog</servlet-name>
    <servlet-class>org.nextplus.blog.DeleteBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlog</servlet-name>
    <url-pattern>/DeleteBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealCategory</display-name>
    <servlet-name>DealCategory</servlet-name>
    <servlet-class>org.nextplus.blog.DealCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealCategory</servlet-name>
    <url-pattern>/DealCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBlog</display-name>
    <servlet-name>addBlog</servlet-name>
    <servlet-class>org.nextplus.blog.addBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBlog</servlet-name>
    <url-pattern>/addBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>org.nextplus.blog.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>org.nextplus.blog.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>org.nextplus.blog.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
</web-app>